---
import Base from "../layouts/Base.astro"
import Hero from "../components/Hero.astro"
import Plans from "../components/Plans.astro"
import Tv from "../components/Tv.astro"
import Services from "../components/Services.astro"
---

<Base title="Zoenet">
    <div class="flex flex-col">
        <Hero class=""/>
        <Plans class=""/>
        <Services class=""/>
        <Tv class=""/>
    </div>
</Base>