---
import PlanCard from './PlanCard.astro'
---
<section class="my-4 text-center">
    <h1 class="my-4 uppercase text-3xl font-extrabold">Planes</h1>
        <div class="flex flex-col mx-8 md:mx-0 md:flex-row align-middle md:justify-center lg:justify-between md:flex-wrap gap-3">
            <PlanCard velocity="100" price="20" />
            <PlanCard velocity="150" price="23.50" />
            <PlanCard velocity="300" price="28.50" />
            <PlanCard velocity="400" price="40" />
        </div>
</section>

