---
import Buton from "./Buton.astro";
interface Props {
  velocity: string;
  price: string;
}

const { velocity, price } = Astro.props;
---

<article class="card bg-primary min-w-56 lg:w-1/5 shadow-xl">
  <div class="card-body p-6 flex flex-col h-full">
    <p class="text-white text-xs uppercase font-semibold">
      Internet fibra óptica
    </p>
    <h2 class="text-4xl lg:text-5xl font-extrabold text-accent">
      {velocity}
      <span class="uppercase text-sm text-white">mbps</span>
    </h2>
    <hr
      class="my-4 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-50 dark:via-neutral-400"
    />
    <div class="text-left">
      <p class="text-white font-semibold mt-2">
        <i class="bx bx-wifi"></i> Wifi 6
      </p>
      <p class="text-white font-semibold mt-2">
        <i class="bx bx-hard-hat"></i> Soporte técnico
      </p>
      <p class="text-white font-semibold mt-2">
        <i class="bx bx-gift"></i>
        Instalación GRATIS
      </p>
      <p class="text-white font-semibold mt-2">
        <i class="bx bx-sort-alt-2"></i>
        Compresión 2:1
      </p>
    </div>
    <hr
      class="my-4 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-50 dark:via-neutral-400"
    />
    <p class="text-3xl font-extrabold text-accent">
      ${price}
      <span class="uppercase text-sm text-white font-semibold">/MES</span>
    </p>
    <Buton txt="Contratar" />
  </div>
</article>
