---
import Buton from "./Buton.astro";
interface Props {
  velocity: string;
  price: string;
}

const { velocity, price } = Astro.props;
---
<article class="overflow-hidden min-w-56 lg:w-1/5 rounded-lg shadow transition hover:shadow-lg">
  <div class="card-body bg-white p-4 sm:p-6 h-full">
    <p class="text-xs uppercase font-semibold">
      Internet fibra óptica
    </p>
    <h2 class="text-4xl lg:text-6xl font-bold text-primary">
      {velocity}
      <span class="uppercase -ml-3 text-sm">mbps</span>
    </h2>
    <hr
      class="my-4 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-50 dark:via-neutral-400"
    />
    <div class="text-left ml-6 font-sm">
      <p class=" mt-2">
        <i class="bx bx-wifi"></i> Wifi 6
      </p>
      <p class=" mt-2">
        <i class="bx bx-hard-hat"></i> Soporte técnico
      </p>
      <p class=" mt-2">
        <i class="bx bx-gift"></i>
        Instalación GRATIS
      </p>
      <p class="mt-2">
        <i class="bx bx-sort-alt-2"></i>
        Compresión 2:1
      </p>
    </div>
    <hr
      class="my-4 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-50 dark:via-neutral-400"
    />
    <p class="text-4xl font-bold text-primary">
      ${price}
      <span class="uppercase text-sm lg:text-lg font-semibold">/MES</span>
    </p>
    <Buton txt="Contratar" />
  </div>
</article>
