---
import Buton from "./Buton.astro";
import ServicesCard from "./ServicesCard.astro";
---

<section class="my-4 text-center">
  <h1 class="my-6 uppercase text-3xl sm:text-4xl font-bold">
    Nuestros servicios
  </h1>
  <div class="flex">
    <ServicesCard img="home.webp" />
  </div>
</section>